.selected{
    background-color: skyblue;
}

.w3-row-padding {
	margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}
    
.cb-colhead {
    	border-color: black;
    	font-weight: bold;
    	    border-style: solid;
    border-color: aliceblue;
}

.cb-col {
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-width: 1px;
    border-style: solid;
    border-color: aliceblue;
}